* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}


/* welcome container */

#welcome-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(46, 45, 45);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 2px 4px rgba(230, 17, 17, 0.821);
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#welcome-container h1 {
    font-size: 32px;
    text-align: justify;
    line-height: 3rem;
    width: 60%;
}

#welcome-container h2 {
    font-size: 24px;
    align-self: flex-end;
    position: relative;
    right: 20%;
}

/* main content */

#main-content {
    display: none;
}

/* Navigation bar styling */
#navigation-bar {
    display: flex;
    background-color: black;
    padding: 10px;
    text-align: center;
}

.navbar-brand {
    margin-right: auto;
    margin-left: 10px;
    color: whitesmoke;
}


/* Animation for favourite text */
@keyframes flexible {
    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scaleX(1);
    }
}

/* Favourites text */
#fav-text {
    margin-left: auto;
    margin-right: 50px;
    text-decoration: none;
    animation-name: flexible;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    perspective: 1000px;
    transform-style: preserve-3d;
    animation-iteration-count: infinite;
    color: #f5c518;
    font-size: 1.2rem;
    font-weight: 600;
    align-self: center;
}

#search-bar {
    text-align: center;
    width: fit-content;
    border-radius: 60px;
    align-self: center;
}

#search-input {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #1c1c1c;
    color: #ffffff;
}


@media (max-width: 768px) {
    #navigation-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-brand,
    #fav-heading,
    #fav-text,
    #search-input {
        margin: 5px auto;
        /* Adjust the margin for spacing and centering */
    }
}


/* logo text */
.navbar-brand {
    display: flex;
    align-items: center;
}

#logo-text {
    background-color: black;
    font-size: 24px;
    font-weight: 600;
    color: #f5c518;
    padding: 7px;
}

/* responsive design */

@media only screen and (max-width: 768px) {
    #welcome-container h1 {
        font-size: large;
        text-align: justify;
        line-height: 2.1rem;
        width: 90%
    }

    #welcome-container h2 {
        font-size: medium;
        align-self: flex-end;
        position: relative;
        right: 6%;
    }

}


/* movie grid styling */
#movie-grid {
    display: flex;
    max-width: 80vw;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin: auto;
}

/* Movie card styles */
.movie-card {
    border: 1px solid #555;
    margin: 20px 10px;
    width: 276px;
    padding: 5px;
    text-align: center;
    background-color: #1c1c1c;
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
}

.movie-card:hover {
    transform: scale(1.1);
}

.movie-card img {
    max-width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 5px;
    color: whitesmoke;
}

.movie-card h4 {
    margin-top: 10px;
    font-size: 20px;
    /* color: rgb(201, 196, 196); */
    color: whitesmoke;
}

.movie-card a {
    text-decoration: none;
}

.movie-card a:hover {
    text-decoration: none;
}

/* *********************** Favourite Movie *************************** */
/* favourite movies page styling */

#fav-heading {
    margin-right: auto;
    text-align: left;
    align-self: center;
}

#fav-heading h2 {
    font-size: 32px;
    color: #ffffff;
}

#back-home-text {
    margin-left: auto;
    margin-right: 30px;
    text-decoration: none;
    align-self: center;
    color: rgb(216, 7, 81);
    /* Red text color */
    font-size: 20px;
    border: 2px solid #bdc3c7;
    /* Light grey border */
    border-radius: 5px;
    padding: 5px;
    margin: 20px 30px;
}

#back-home-text:hover {
    color: rgb(131, 3, 3);
    border-color: #f5c518;
    border-radius: 7px;
}

/* styling favourite grid style */
#fav-grid {
    display: flex;
    max-width: 85vw;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin: auto;
}

/* Movie card styles */
.fav-card {
    border: 1px solid #555;
    margin: 20px 10px;
    width: 290px;
    padding: 5px;
    text-align: center;
    background-color: #1c1c1c;
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
}

.fav-card:hover {
    transform: scale(1.1);
}

.fav-card img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 5px;
}

.fav-card h4 {
    margin-top: 10px;
    font-size: 20px;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fav-card a {
    text-decoration: none;
}

/* ************************* Movie Detail **************************** */
.mov-header-link {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.mov-header-link a {
    text-decoration: none;
    color: rgb(216, 7, 81);
    /* Red text color */
    font-size: 20px;
    border: 2px solid #bdc3c7;
    /* Light grey border */
    border-radius: 5px;
    padding: 5px;
    margin: 20px 30px;
}

.mov-header-link a:hover {
    color: rgb(131, 3, 3);
    border-color: #f5c518;
    border-radius: 7px;
}


.mov-details {
    color: whitesmoke;
    font-size: 18px;
}

.genre {
    width: fit-content;
    border: 1px solid grey;
    border-radius: 6px;
    margin: 5px 0px;
    padding: 8px;
    background-color: green;
    color: #ffffff;

}

#movie-container {
    display: flex;
    text-align: start;
    justify-content: space-evenly;
    margin: 30px 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#movie-head {
    display: flex;
    text-align: start;
    font-size: 20px;
    color: whitesmoke;
}

#movie-details {
    display: flex;
    flex-direction: column;
    margin: 50px 50px;
    letter-spacing: 1px;
    line-height: 1.5;
}

#movie-details p {
    color: whitesmoke;
}

@media (max-width: 768px) {
    #movie-container {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 30px 30px;
        font-family: Arial, Helvetica, sans-serif;

    }

    #movie-head {
        display: flex;
        justify-content: center;
        font-size: 20px;
    }

    .genre {
        margin-left: auto;
        margin-right: auto;
    }

    #movie-head {
        text-align: center;
    }
}